#title {
    color: hotpink;
    font-family: sans-serif;
    text-align: center;
    font-size: 70px;
    margin-bottom: 80px;
}

a {
    text-decoration: none;
}

div {
    display: block;
    text-align: center;
}

input {
    text-align: center;
    width: 400px;
    height: 50px;
    font-size: 40px;
    border: 3px solid darkgreen;
    color: hotpink;
    ;
}

::placeholder {
    color: hotpink;
}

h2 {
    display: inline-block;
    font-family: sans-serif;
    padding: 0px 10px;
    color: darkgreen;
    font-size: 18px
}

#newBook {
    background-color: white;
    display: inline-block;
    border: 3px solid darkgreen;
    font-family: sans-serif;
    font-size: 15px;
    color: hotpink;
    padding: 5px 20px;
}

#cantFind {
    padding: 60px;
}

.search-input .autocom-box{
    padding: 0px;
    max-height: infinite;
    opacity: 0;
    pointer-events: none;
}

.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li{
    padding: 2px 12px;
    cursor: default;
    border-radius: 3px;
    color: darkgreen;
    font-family: sans-serif;
    display: none;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover{
    background: rgb(255, 203, 229);
}